/* Reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #fff; */
}
/* 
    1.Từ ngoài vào trong.
    2.Từ trên xuống dưới
    3.Tổng quan đến chi tiết
*/

/* 
    1.Vị trí
    2.Kích thước 
    3.Màu sắc
    4.Kiểu dáng(kiểu chữ, hình tròn, hình vuông)
*/
#main{

}
.clear{
    clear: both;
}
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    /*lệnh làm cho hiện header lên */
    z-index: 1;
}
/* 
    do nút button search vừa tạo chiếm hết backrough
    nên lệnh này lm mất tính kế thừa
*/
#nav{
    display: inline-block;
}

/* tắt dấu chấm và số đầu câu của li và ul */
#nav, .subnav{
    list-style-type: none;
}
#nav > li{
    display: inline-block;

}

#nav li{
    position: relative;
}

#nav > li > a{
    color: #fff;
    /* in hoa hết lun */
    text-transform: uppercase;
}

#nav li a{
    /* bỏ gạch chân */
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav{
    /* lệnh hiện lên display: inline*/
    display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    /* lệnh này dùng để ẩn */
    display: none;
    position: absolute;
    top: 100%;
    /* chiều dài tối thiểu */
    min-width: 160px;
    background-color: #fff;
     /*Bóng đỗ  */
     box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#nav .nav-arrow-down{
    font-size: 10px;
}

#nav .subnav a{
    color: #000;
}

#header .search-btn{
    float: right;
    padding: 0 21px;
    cursor: pointer;
}
#header .search-btn:hover{
    /* khi ta đặt chuột vào nó sẽ hiện hình bàn tay */
    cursor: pointer;
    background-color: rgb(214, 11, 11);
}
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
#slider{
    position: relative;
    margin-top: 46px;   
    padding-top: 50%;
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;
}
#slider .text-content {
    position: absolute;
    color: #fff;
    bottom: 48px;
    /* có 3 cách căn giữa:
        1.left: 50%;
           transform: translateX(-50%); 
        2.with:100%
        3.left: 0;
          right: 0;
    */
    width: 100%;
    text-align: center;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}

#content{
    
}
#content .content_section{
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
    
}
#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    /* lệnh khoảng cách chữ, làm cho chữ xa cách xa ra*/
    letter-spacing: 4px;
}

#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    /* lệnh in nghiêng chữ */
    font-style: italic;

    opacity: 0.6;
}


#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    /* Căn đều 2 bên của đoạn chữ */
    text-align: justify;
    /* độ cao của một dòng. */
    line-height: 1.4;
}

#content .member-list{
    margin-top: 48px;
}
#content .member-item{
    float: left;
    /* là 3 ông cộng lại = 100% dùng đê căn lề bằng đoạn chữ trên. */
    width: 33.33333%;
    text-align: center;
}
#content .member-name{
    /* Hai lệnh này dùng căn giữa chữ name */
    font-size: 15px;
}
#content .member-img{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}
#footer{

}
