/* Reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #fff; */
}
/* 
    1.Từ ngoài vào trong.
    2.Từ trên xuống dưới
    3.Tổng quan đến chi tiết
*/

/* 
    1.Vị trí
    2.Kích thước 
    3.Màu sắc
    4.Kiểu dáng(kiểu chữ, hình tròn, hình vuông)
*/
#main{

}
.clear{
    clear: both;
}
/* tạo 1 cái class riêng lẻ .text-while 
    chứa color: #fff !important để xử lí màu */
.text-white{
    color: #fff !important;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half{
    width: 50%;
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    /*lệnh làm cho hiện header lên */
    z-index: 1;
}
/* 
    do nút button search vừa tạo chiếm hết backrough
    nên lệnh này lm mất tính kế thừa
*/
#nav{
    display: inline-block;
}

/* tắt dấu chấm và số đầu câu của li và ul */
#nav, .subnav{
    list-style-type: none;
}
#nav > li{
    display: inline-block;

}

#nav li{
    position: relative;
}

#nav > li > a{
    color: #fff;
    /* in hoa hết lun */
    text-transform: uppercase;
}

#nav li a{
    /* bỏ gạch chân */
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav{
    /* lệnh hiện lên display: inline*/
    display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    /* lệnh này dùng để ẩn */
    display: none;
    position: absolute;
    top: 100%;
    /* chiều dài tối thiểu */
    min-width: 160px;
    background-color: #fff;
     /*Bóng đỗ  */
     box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#nav .nav-arrow-down{
    font-size: 10px;
}

#nav .subnav a{
    color: #000;
}

#header .search-btn{
    float: right;
    padding: 0 21px;
    cursor: pointer;
}
#header .search-btn:hover{
    /* khi ta đặt chuột vào nó sẽ hiện hình bàn tay */
    cursor: pointer;
    background-color: rgb(214, 11, 11);
}
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
#slider{
    position: relative;
    margin-top: 46px;   
    padding-top: 50%;
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;
}
#slider .text-content {
    position: absolute;
    color: #fff;
    bottom: 48px;
    /* có 3 cách căn giữa:
        1.left: 50%;
           transform: translateX(-50%); 
        2.with:100%
        3.left: 0;
          right: 0;
    */
    width: 100%;
    text-align: center;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}

#content{
    
}
#content .content_section{
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
    
}
#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    /* lệnh khoảng cách chữ, làm cho chữ xa cách xa ra*/
    letter-spacing: 4px;
}

#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    /* lệnh in nghiêng chữ */
    font-style: italic;

    opacity: 0.6;
}


#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    /* Căn đều 2 bên của đoạn chữ */
    text-align: justify;
    /* độ cao của một dòng. */
    line-height: 1.4;
}

#content .member-list{
    margin-top: 48px;
}
#content .member-item{
    float: left;
    /* là 3 ông cộng lại = 100% dùng đê căn lề bằng đoạn chữ trên. */
    width: 33.33333%;
    text-align: center;
}
#content .member-name{
    /* Hai lệnh này dùng căn giữa chữ name */
    font-size: 15px;
}
#content .member-img{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

.tour-section{
    background-color: #000;
}

.tickets-list{
    /* tắt đi mấy nút chấm câu */
    list-style: none;
    background-color: #fff;
    margin-top: 40px;
}

.tickets-list li{
    color: #757575;
    font-size: 14px;    
    padding: 11px 16px;
    /* Lệnh hiển thị dấu gạch ngang */
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out{
    background-color: crimson;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    /* Lệnh tạo hình tròn, tùy vào width và height càng lơn thì hình tròn càng lớn*/
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;
    
}

/* places */
.places-list{
    /* margin-top: 32px;
    margin-left: -8px;
    margin-right: -8px; 
    3 cái này tóm tắt lại thành 1 hàng lun:*/
    margin: 32px -8px 0;
    /* tăng chiều cao cho thăng cah ôm hết các con thêm 32px */
    padding-bottom: 48px;
}
.place-item{
    float: left;
    width: 33.33333%;
    padding: 0 8px;
}
.place-img{
    width: 100%;
    display: block;
}

/* Khi ta chạm vào ảnh ảnh sẽ mờ đi */
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    padding: 16px;
    font-size: 15px;
    background-color: #fff;
}
.place-heading{
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-desc{
    margin-top: 15px;
}
.place-buy-btn{
    color: #fff;
    background-color: #000;
    /* tắt gạch chân đi */
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}

.place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
}

#footer{
    
}
